*{
    font-family: Helvetica, Arial, sans-serif;
}
/************************* header *****************/

#header{
    width:1000px;
    height:72px;
    background-color: #fffabe;
}

#logo{
    height:100%;
    width:20%;
    display: inline-block;
}

#logo > img{
    margin: 10% 10%;
}

#menu{
    /*height: 100%;*/
    width: 70%;
    float: right;
    list-style: none;
    display: flex;
    align-items: row;
    justify-content: space-around;
    margin-top: 3%;
    color: #515151;
    font-size: 16px;
    margin-bottom: 0;
}

#menu :hover{
    color: #d42551;
}

/************************* body_welcomeImage ****************************/

/*#body{*/
    /*height:80vh;*/
/*}*/

#welcomeImage{
    width:1000px;
    height:400px;
    /*border: 1px solid red;*/
}

#welcomeImage > img{
    width: 100%;
    height: auto;
}
/************************* body_imgLeft & contentRight ****************************/

#body > .contentContainer{
    display: flex;
    color: #6a6969;
    width: 1000px;
}

#marcaronImg{
    /*border:1px solid black;*/
    width: 20%;
    text-align: center;
    margin: auto;
}

#content{
    width: 80%;
}

#content > h3{
    font-size: 20px;
}

#content > p{
    font-size: 14px;
}
/************************* body_boxes ****************************/

#boxes{
    display: flex;
    justify-content: space-around;
    height: 140px;
    width:100%;
}

#boxes :nth-child(even){
    width:126px;
    height: 100%;
    background-color: #fffabe;
}

#boxes :nth-child(odd){
    width:126px;
    height: 107px;
    background-color: #fffabe;
}

/*.upper {*/
    /*height:107px;*/
    /*width:100%;*/
    /*background-color: #fffabe;*/
/*}*/

/*.upper :nth-child(odd){*/
    /*height:100%;*/
    /*width:100%;*/
    /*background-color: #fffabe;*/
/*}*/





/************************* body_boxes ****************************/

#footer{
    height:80px;
    width:1000px;
}